.hypothesis
.idea
.vscode
Makefile
README.html
__pycache__
assets
build
dist
src/eltetrado.egg-info
typings
x3dna-dssr
.aider*

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
